@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,600;0,700;1,400&display=swap"rel="stylesheet');
body
{
padding: 0;
margin: 0;
font-family: 'Titillium Web', sans-serif;
}
header.header {
background-color: #87509c;
background-size: cover;
height: 745px;
}
div.menu img.logo {
    margin-left: 210px;
}
div.menu { 
    display: flex;
    align-items: center;
    padding-top: 55px;
}

div.menu button {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin-right: 35px;
    background: none;
    border: 0;
}
div.menu button.home {
    margin-left: 505px;
    border: 0;
    border-radius: 5px;
    width: 77px;
    height: 32px;
    background-color: #643a79;
}
div.menu button:hover{
    
    background-color: #643a79;
    border-radius: 5px;
}


div.header {
    display: grid;
    align-items: center;
    padding-top: 150px;
}
div.header p.text{
    text-decoration: none;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    font-size: 42px;
    margin-left: auto;
    margin-right: auto;
}
div.header button.button {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    text-align: center;
    background-color: #eb7d4b;
    font-family: 'Titillium Web', sans-serif;
    color:#fff;
    font-size: 26px;
    width: 295px;
    height: 71px;
    border: 0px;
    box-shadow: 0px 4px #eb7e4b4e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.header button:hover{
    box-shadow: 0;
    background-color: #db5d23;
    border-radius: 5px;
}
section.team {
    background-color: #e7f1f8;
    height: 920px;}
 section.team a.team{
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 42px;
    color: #3c4761;
}
section.team hr.line{
    margin-top: 20px;
    width: 87px;
    background-color: #c8d9e5;
    height: 4px;
    border: 0px;
}
section.team a.smallteam{
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #3c4761;
}
section.team div.team{
    display: flex;
    align-items: center;
    padding-top: 80px;
}

section.team div{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    margin-left: 160px;
}

section.team div.team a{
    
    margin-left: 80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #878787;
}
section.team div.name{
    font-size: 24px;
    margin-left: 240px;
}
section.team div.name p.name2{margin-left: 130px;}
section.team div.name p.name3{margin-left: 140px;}
section.team div.name p.name4{margin-left: 120px;}

section.team div.spec{
    color: #30bae7;
    font-size:16;
    margin-top: -40px;
    margin-left: 255px;
}
section.team div.spec p.spec2{margin-left:160px;}
section.team div.spec p.spec3{margin-left:170px;}
section.team div.spec p.spec4{margin-left:180px;}

section.team div.text{
    color: #535e75;
    font-weight: 300;
    font-size:16;
    margin-top: -20px;
    margin-left: 240px;
}
section.team div.text p.text2{margin-left: 90px;}
section.team div.text p.text3{margin-left: 80px;}
section.team div.text p.text4{margin-left: 100px;}

section.team div.icons img.fb1{margin-left: 90px;}
section.team div.icons img.twitter1{margin-left: 10px;}
section.team div.icons img.LinkedIn1{margin-left: 10px;}
section.team div.icons img.mail1{margin-left: 10px;}

section.team div.icons img.twitter2{margin-left: 150px;}
section.team div.icons img.LinkedIn2{margin-left: 10px;}
section.team div.icons img.mail2{margin-left: 10px;}

section.team div.icons img.fb3{margin-left: 140px;}
section.team div.icons img.twitter3{margin-left: 10px;}
section.team div.icons img.LinkedIn3{margin-left: 10px;}
section.team div.icons img.mail3{margin-left: 10px;}

section.team div.icons img.fb4{margin-left: 150px;}
section.team div.icons img.twitter4{margin-left: 10px;}
section.team div.icons img.mail4{margin-left: 10px;}

section.protofooter {
display: grid;
text-align: center;
margin-left: auto;
margin-right: auto;
background-color: #3c5499;
background-size: cover;
height: 820px;
color: #FFF;
}

section.protofooter p.get{
margin-top: 120px;
font-size: 40px;
font-family: 'Titillium Web', sans-serif;
}

section.protofooter hr{
margin-top: -35px;
width: 87px;
background-color: #273a71;
height: 4px;
border: 0px;
}

section.protofooter p.adress{
font-family: 'Titillium Web', sans-serif;
font-size: 18px;
}

section.protofooter input.nameinput{
    background-color: #273a71;
    border: 0px;
    height: 50px;
    width: 400px;
    color: #fff;
    border-radius:3px;
}

section.protofooter input.mailinput{
    margin-left: 30px;
    background-color: #273a71;
    border: 0px;
    height: 50px;
    width: 400px;
    color: #fff;
    border-radius:3px;
}

section.protofooter textarea.messageinput{
    margin-top: 30px;
    background-color: #273a71;
    border: 0px;
    height: 200px;
    width: 834px;
    color: #fff;
    border-radius:3px;
}

section.protofooter button.send{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    text-align: center;
    background-color: #30bae7;
    font-family: 'Titillium Web', sans-serif;
    color:#fff;
    font-size: 18px;
    width: 300px;
    height: 70px;
    border: 0px;
    box-shadow: 0px 4px #299ec5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
section.protofooter button.send:hover{
    box-shadow: 0;
    background-color: #099bcb;
    border-radius: 5px;
}

footer{
    display: flex;
    background-color: #344b8e;
    background-size: cover;
    height: 110px;
    padding-top: 70px;
}


footer a.facebook{margin-left: 280px;}
footer a{
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    margin-right: 60px;
}
footer a.twitter{color: #30bae7;}
footer a:hover{color: #30bae7;}