@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    background-color: rgba(30, 144, 255, 0.5);

    font-family: Roboto;
}

.menu{
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 10%;
    width: 80%;
    height: 12%;
    background-color: white;
    border-radius: 12px;
}


div a{
    text-align: center;
    color: #0A2541;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5%;
}

.home{font-weight: 700;
margin-left: 44%;}

.menu h1{
    position: fixed;
    text-align: left;
    margin-left: 1%;
    font-size: 36px;
    font-weight: 700;
    margin-right: 32%;
}

.menu button{
    width: 10%;
    height: 50%;
    background-color: white;
    border-color: #7372FF;
    border-radius: 5px;
    border-style: solid;
    color: #4443D0;
    font-weight: 700;
    margin-right: 2%;
}

.menu button.signin{
    background-color: #4443D0;
    color: white;
}

h1.make{
    font-weight: 700;
    font-size: 64px;
    padding-top: 15%;
    margin-left: 10%;
}

p.text{
    margin-top: -2%;
    font-size: 24px;
    font-weight: 400;
    margin-left: 10%;
}

form{margin-left: 10%;}

.join{
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.email{
    margin-top: -1%;
    background-color: white;
    width: 35%;
    height: 40px;
    border: 1px solid #2A92F9;
    border-radius: 10px;
}

.sign {
    margin-top: 2%;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border:0;
    background-color: #4443D0;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.burger{
  visibility: hidden;
  background: none;
  position: fixed;
  border: 0;
  padding-left: 90%;
  margin-top: 3%;
  z-index: 100;
}

.menu2{
    visibility: hidden;
    width: 100%;
    display: grid;
    position: fixed;
    z-index: 50;
    margin-top: 13%;
}




.show-menu{
    visibility:hidden;
    background-color: white;}
.show-menu a{
  font-size: 16px;
  margin-left: 10%;
  margin-top: 10px;
}
.show-menu button.signup2{
    width: 120px;
    margin-left: 10%;
    font-size: 16px;
    background-color: white;
    border-color: #7372FF;
    border-radius: 5px;
    border-style: solid;
    color: #4443D0;
    font-weight: 700;
    margin-top: 10px;
}

.show-menu button.signin2{
    width: 120px;
    font-size: 16px;
    margin-left: 10%;
    background-color: #4443D0;
    border-color: #7372FF;
    border-radius: 5px;
    border-style: solid;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}
 











@media (max-width:1343px){

}

@media (max-width:1100px){
.menu a{font-size: 14px;}
.menu button{font-size: 12px;}
}

@media (max-width:1020px){
.menu a{margin-right: 2%;}
.menu h1{margin-right: 35%;}
}

@media (max-width:940px){
.menu a{margin-right: 2%;}
.menu h1{margin-right: 30%;}
}

@media (max-width:820px){
.menu h1{margin-right: 25%;}
.menu a{font-size: 12px;}
.menu button{font-size: 10px;}
h1.make{font-size: 58px;}
}

@media (max-width:720px){
.menu h1{margin-right: 20%;}
h1.make{font-size: 48px;}
h1.make {padding-top: 20%;}
p.text{font-size: 18px;}
p.join{font-size:14px}
}

@media (max-width:680px){
.menu button{font-size: 9px;}

}

@media (max-width:649px){
    .show-menu{visibility: visible;}
    .burger{visibility:visible;}
    .menu{width: 100%;
    margin-left: 0;
    border-radius: 0;}
    .menu h1{margin-left: 10%;}
    .menu a{display: none;}
    .menu button.signup{display: none;}
    .menu button.signin{display: none;}
    .burger{
        display: block;
    }
}

@media (max-width:580px){
  .burger{
      display: block;
  }
   
}



